.payroll .logo {
    font-size: 32px;
    font-weight: bold;
    color: #0077cc;
}

.payroll .logo i {
    color: orange;
}

.payroll h2 {
    margin: 10px 0;
}

.payroll p {
    margin-bottom: 20px;
    color: #666;
}

.payroll .calculator-box {
    background-color: #fff;
    display: inline-block;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.payroll .inputs {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.payroll label {
    font-weight: bold;
}

.payroll input[type="number"] {
    width: 150px;
    padding: 8px;
    text-align: right;
}

.payroll button {
    background-color: orangered;
    color: white;
    border-radius: 10px;
    border-color: transparent;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.payroll button:hover{
    background-color: #2f2f2f;
}

.payroll table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.payroll th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.payroll th {
    text-align: left;
}

.payroll td:last-child,
th:last-child {
    text-align: right;
}

.payroll strong {
    font-weight: bold;
}

.payroll {
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    background-color: #f5f5f5;
}